body {
  padding-top: 75px;
  background-color: #EDFADE;
}

.name {
  color: blue;
  font-style: italic;
  font-variant: small-caps;
}

.circleimg {
  height: 600px;
  width: 400px;
  border-style: solid;
  border-color: black;
  border-width: 6px;
  margin: 30px;
}

#background-color-home {
  background-color: #D0FF9E;
  border-style: solid;
  border-color: black;
  border-width: 6px;
}

#background-color-about {
  background-color: #FADEDF;
  border-style: solid;
  border-color: black;
  border-width: 6px;
}

#background-color-projects {
  background-color: #DEFAF9;
  border-style: solid;
  border-color: black;
  border-width: 6px;
}

.home-center {
  align-content: center;
  text-align: center;
}
